/* * {
  padding: 0;
  margin: 50px;
} */

canvas {
  background: #52c3e5;
  display: block;
  margin: 5vh auto;
  width: 100%;
  height: 100%;
  padding: 0;
}

.title-card {
  position: fixed;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.144);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  /* background-image: url("../src/assets/Take Flight-01.png"); */
  height: 20vh;
}

.char {
  width: 60%;
}

.right {
  display: flex;
  justify-content: space-around;
}

.right-a {
  display: flex;
  align-items: center;
}

.begin {
  height: 2vh;
  margin: 30vh auto;
}

.hidden {
  display: none;
}